.myintro{
    font-family: cursive;
    color: slateblue;
}

div.a {
   text-align: center;
   }
div.b{
    
    text-align: left;
           }

       div.c 
       {
        text-align: right;
           } 
           .option1 
           { 
               display: inline-block; 
                   padding-right: 5px; 
                   } 



.speech{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: black;
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: black;
}
.stage-direction{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: black;
}
.stage-direction{
    background-color: lightgoldenrodyellow;
}

.stage-direction:hover{
    background-color: midnightblue;
    color: black;
}

.caroline{
    color: orchid;
}

.hunstanton{
    color: plum;
}

.hester{
    color: rebeccapurple;
}
.john{
    color: rosybrown;
}
.gerald{
    color: darkgreen;
}


table {
    border-collapse: collapse;
    width: auto;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #140566;
    color: white;
  }
  tr:hover
   {
       background-color: darkgoldenrod;
    }