div.a {
   text-align: center;
   }
div.b{
    
    text-align: left;
           }

       div.c 
       {
        text-align: right;
           } 
           .option1 
           { 
               display: inline-block; 
                   padding-right: 5px; 
                   } 



.speech{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: black;
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: black;
}
.stage-direction{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: black;
}
.stage-direction{
    background-color: lightgoldenrodyellow;
}

.stage-direction:hover{
    background-color: midnightblue;
    color: olivedrab;
}

.caroline{
    color: orchid;
}

.hunstanton{
    color: plum;
}

.hester{
    color: rebeccapurple;
}
.john{
    color: rosybrown;
}