.myintro{
    font-family: cursive;
    color: slateblue;
}

.a {
   text-align: center;
   }
.b{
    
    text-align: left;
           }

       .c 
       {
        text-align: right;
           } 
           .option1 
           { 
               display: inline-block; 
                   padding-right: 5px; 
                   } 



.speech{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: black;
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: black;
   
}
.name:hover{
    text-shadow: 2px 2px 5px red;
    border-style:double;
}
.stage-direction{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: black;
}
.stage-direction{
    background-color: lightgoldenrodyellow;
}

.stage-direction:hover{
    background-color: midnightblue;
    color: black;
}

.caroline{
    color: orchid;
}

.hunstanton{
    color: plum;
}

.hester{
    color: rebeccapurple;
}
.john{
    color: rosybrown;
}
.gerald{
    color: darkgreen;
}


table {
    border-collapse: collapse;
    width: auto;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #140566;
    color: white;
  }
  tr:hover
   {
       background-color: darkgoldenrod;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
        border-right:1px solid #bbb;
      }
      
      li:last-child {
        border-right: none;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover:not(.active) {
        background-color: #111;
      }
      
      .active {
        background-color: #04AA6D;
      }